body {
    margin: 0;
    background-color: #222;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    padding: 10px 40px;
    background-color: transparent;
    color: #fff;
    border-radius: 6px;
    letter-spacing: 3px;
    position: relative;
}

/* --------- WAVE BUTTON --------- */

.btn-1 {
    border: 1px solid #48e;
    overflow: hidden;
}

.btn-1::before {
    content: "";
    background-color: #48e;
    display: block;
    height: 200%;
    width: 140%;
    position: absolute;
    z-index: -1;
    transition: top .6s, left .6s, margin .6s;
    border-radius: 50%;
    top: 100%;
    left: 30%;
}

.btn-1:hover::before {
    top: -35%;
    left: -20%;
}


/* --------- NEON BUTTON --------- */

.btn-2 {
    border: 1px solid #fff3;
    color: #fff3;
}

.btn-2:hover {
    animation: parpadear 1s infinite alternate backwards;
}

@keyframes parpadear {
    0% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: 0;
        box-shadow: 0;
    }

    25% {
        border-color: #48e;
        color: #4bf;
        box-shadow: 0 0 6px #48e3, 0 0 16px #48e3;
        text-shadow: 0 0 9px #48ee, 0 0 3px #adf4;
    }
    30% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: 0;
        box-shadow: 0;
    }

    35% {
        border-color: #48e;
        color: #4bf;
        box-shadow: 0 0 6px #48e3, 0 0 16px #48e3;
        text-shadow: 0 0 9px #48ee, 0 0 3px #adf4;
    }
    50% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: 0;
        box-shadow: 0;
    }

    100% {
        border-color: #48e;
        color: #4bf;
        box-shadow: 0 0 6px #48e3, 0 0 16px #48e3;
        text-shadow: 0 0 9px #48ee, 0 0 3px #adf4;
    }
}